@import "../../theme.scss";

.btn{
    padding: 0.55rem 0.65rem;
    border-radius: 8px;  
    border: none;
    position: relative;
    font-size: 11pt;
    display: inline-block;
    cursor: pointer;
    @include soft-button;    
  }
  
  .btn:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.05);
    left: 0;
    top: 0;
    display: none;
    border-radius: inherit;
  }
  .btn:focus{
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2)
  }
  
  .btn:hover:before{
    display: block;
  }
  
  .btnPrimary{
    background-color: $primary;
    color: white;
  }
  .btnSecondary{
    background-color: rgb(156, 156, 156);
    color: white;
  }

  .btnDark{
    background-color: rgb(85, 85, 85);
    color: white;
  }
  
  .btnOutline{
    background: transparent;
    border: 1px solid #e7e7e7;
    color: #333;
  }

  .btnLink{
    border: none;
    padding: 0;
    background: transparent;
    color: #333;
  }

  .btnLink:hover:before{
    display: none
  }

  .circle{
    border-radius: 50%;
    background-color: lighten($primary, 30%);
    background-image: linear-gradient(290deg, rgba(0,0,0,0.2), transparent);
    background-clip: padding-box;
    border: 3px solid transparent;
  }

  .activeButton{
    background-color: saturate(lighten($primary, 58%), 90%);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.08), 0 10px 15px white !important;
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    pointer-events: none;
  }