@import "../../variables.scss";

.filters{
   margin: 2rem 0 0;
}

.filterBadge{
   background: lighten($primary, 30%);
   border-radius: 3px;
   width: 1rem;
   height: 1rem;
   line-height: 1rem;
   text-align: center;
   font-size: 9px;
   font-weight: bold;
   color: white;
   display: inline-block;
   vertical-align: top;
}

.filterTextBadge{
   font-weight: bold;
   font-size: 9px;
   vertical-align: middle;
   color: #aaa;
}