.App{
  padding: 3rem;
}
.form-control{
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: 1px solid #bbb;
  background-color: #f8f8f8;
  font-size: 13pt;
}

.taskList{
  padding: 0
}
.taskList li{
  margin-bottom: 0.3rem;
}

.inline-block{
  display: inline-block;
}