@import "./theme.scss";

@import "./variables.scss";
.app{
   // margin: 3rem auto 0; 
   border-radius: 6px;
   padding: 2rem;
   // box-shadow: 0 3px 4px 3px rgba(0,0,0,0.1);
}

:global{
   input:not([type=checkbox]).form-control{
      @include soft-inset(10px);
      padding: 0.75rem 1rem;
      border-radius: 4px;
      background-color: transparent;
      font-size: 13pt;
      &::placeholder{
         opacity: 0.6;
      }
      box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1);
   }
   .inline-block{
      display: inline-block;
   }
   .py-0{
      padding-top: 0; 
      padding-bottom: 0;
   }
   .m-0{
      margin: 0
   }
   .bg-none{
      background: transparent
   }
   .border-0{
      border: none
   }
   .text-center{
      text-align: center
   }
   .text-muted{
      color: silver;
   }
   .border-box{
      box-sizing: border-box;
   }
   .w-100{
      width: 100%
   }
   .mx-auto{
      margin: 0 auto;
   }
   .text-primary{
      color: $primary
   }
}