@import "./variables.scss";

@mixin soft-inset($depth: 4px){
    box-shadow: inset  -1*$depth -1*$depth $depth*1.5 rgba(255,255,255,0.9), inset $depth $depth $depth*1.5 rgba(20,35,93, 0.08);   
    border: none; 
    // border: 1px solid rgba(200,200,200,0.5);
    // border-top-color: rgba(200,200,200,0.5);
    // border-left-color: rgba(200,200,200,0.5);
 }
 @mixin soft-raised($depth: 10px){
    box-shadow:  -1*$depth -1*$depth $depth*1.5 #FFFFFF, $depth $depth $depth*1.5 rgba(20,35,93, 0.08);    
    border: none;
 }

 @mixin soft-button(){
     @include soft-raised;
 }