.taskList{
   padding: 0
}
.taskList li{
   margin-bottom: 0.3rem;
   border-bottom: 1px solid #e6e6e6;
   padding-bottom: 0.8rem;
   padding-top: 0.4rem;
}
.addButton{
   margin-left: 1rem;
}
.searchButton{
   position: absolute;
   top: 3px;
   right: 1rem;
}
.searchBox{
   position: relative;
   display: inline;
   input{padding-right: 2.3rem;}
}